    </div>
</div>
    <div class="page-wrapper">
                <div class="page-wrapper-inner">

                    <!-- Left Sidenav -->
                    <div class="left-sidenav">
                        
                        <ul class="metismenu left-sidenav-menu" id="side-nav">

                            <li class="menu-title">Anasayfa</li>
                            <li>
                                <a href="javascript: void(0);"><i class="dripicons-store"></i><span>Üniversiteler</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="/university/university/">Tüm Üniversiteler</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);"><i class="dripicons-user"></i><span>Yöneticiler</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false"> 
                                    <li><a href="/admins/admins/"><span>Yönetici Yönet</span></a></li>
                                    <li><a href="/admins/register/"><span>Yönetici Ekle</span></a></li> 
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);"><i class="dripicons-user-group"></i><span>Kullanıcılar</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="/users/users/"><span>Tüm Kullanıcılar</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- end left-sidenav-->

                    <!-- Page Content-->